# Import Dependencies

In [1]:
import pandas as pd
import psycopg2
import os
from sqlalchemy import create_engine
from config import db_password
from config import db_name

# Read Video Games Data from CSV

In [2]:
# Set CSV file path
path = os.path.join('Output', 'Transformed_video_games_data.csv')

In [3]:
# Read games data from CSV file into Dataframe
transformed_df = pd.read_csv(path)
transformed_df

,rank,game_name,console,publisher,developer,vgchartz_score,critic_score,user_score,total_shipped,global_sales,na_sales,pal_sales,japan_sales,other_sales,release_date,genre,release_year
0,1,God of War,Series,Sony Computer Entertainment,SIE Santa Monica Studio,NaN,NaN,NaN,51.00,NaN,NaN,NaN,NaN,NaN,2005-03-22,Action,2005.0
1,2,Warriors,Series,KOEI,Omega Force,NaN,NaN,NaN,45.26,NaN,NaN,NaN,NaN,NaN,1997-06-30,Action,1997.0
2,3,Devil May Cry,Series,Capcom,Capcom,NaN,NaN,NaN,22.00,NaN,NaN,NaN,NaN,NaN,2001-10-16,Action,2001.0
3,4,Dynasty Warriors,Series,Unknown,Omega Force,NaN,NaN,NaN,21.00,NaN,NaN,NaN,NaN,NaN,NaN,Action,NaN
4,5,Grand Theft Auto V,PS3,Rockstar Games,Rockstar North,NaN,9.4,NaN,NaN,20.32,6.37,9.85,0.99,3.12,2013-09-17,Action,2013.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22097,232,"Nora, Princess, and Stray Cat",NS,Harukaze,Harukaze,NaN,NaN,NaN,NaN,0.00,NaN,NaN,0.00,NaN,2018-10-25,Visual Novel,2018.0
22098,233,Memories Off: Innocent File,NS,5pb,5pb. Games,NaN,NaN,NaN,NaN,0.00,NaN,NaN,0.00,NaN,2018-10-25,Visual Novel,2018.0
22099,234,Enkan no Memoria: Kakera Tomoshi,PSV,Dramatic Create,A'sRing,NaN,NaN,NaN,NaN,0.00,NaN,NaN,0.00,NaN,2018-03-29,Visual Novel,2018.0
22100,235,Disorder 6,X360,5pb,5pb. Games,NaN,NaN,NaN,NaN,0.00,NaN,NaN,0.00,NaN,2013-08-22,Visual Novel,2013.0
22101,236,Zero Escape: Virtue's Last Reward,PSV,Aksys Games,ChunSoft,NaN,NaN,NaN,NaN,0.00,NaN,0.00,NaN,0.00,2012-10-23,Visual Novel,2012.0

# Create Genre dataframe

In [4]:
# Generate list of unique genres
genre_list = transformed_df['genre'].unique()
genre_list

array(['Action', 'Action-Adventure', 'Adventure', 'Board Game',
       'Education', 'Fighting', 'Misc', 'MMO', 'Music', 'Party',
       'Platform', 'Puzzle', 'Racing', 'Role-Playing', 'Sandbox',
       'Shooter', 'Simulation', 'Sports', 'Strategy', 'Visual Novel'],
      dtype=object)

In [5]:
# Generate list of genre ids
genre_id_list = list(range(0, len(genre_list)))
genre_id_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [6]:
# Create genre dataframe
genre_df = pd.DataFrame({
    'genre_id': genre_id_list,
    'genre': genre_list
})
genre_df

    genre_id             genre
0          0            Action
1          1  Action-Adventure
2          2         Adventure
3          3        Board Game
4          4         Education
5          5          Fighting
6          6              Misc
7          7               MMO
8          8             Music
9          9             Party
10        10          Platform
11        11            Puzzle
12        12            Racing
13        13      Role-Playing
14        14           Sandbox
15        15           Shooter
16        16        Simulation
17        17            Sports
18        18          Strategy
19        19      Visual Novel

# Create Developer dataframe

In [7]:
# Generate list of unique developers
developer_list = transformed_df['developer'].dropna().unique()
developer_list

array(['SIE Santa Monica Studio', 'Omega Force', 'Capcom', ..., 'ADELTA',
       'girls dynamics', "A'sRing"], dtype=object)

In [8]:
# Generate list of developer ids
developer_id_list = list(range(0, len(developer_list)))
developer_id_list

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 474,
 475,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 498,
 499,
 500,
 501,
 502,
 503,
 504,
 505,
 506,
 507,
 508,
 509,
 510,
 511,
 512,
 513,
 514,
 515,
 516,
 517,
 518,
 519,
 520,
 521,
 522,
 523,
 524,
 525,
 526,
 527,
 528,
 529,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 540,
 541,
 542,
 543,
 544,
 545,
 546,
 547,
 548,
 549,
 550,
 551,
 552,
 553,
 554,
 555,
 556,
 557,
 558,
 559,
 560,
 561,
 562,
 563,
 564,
 565,
 566,
 567,
 568,
 569,
 570,
 571,
 572,
 573,
 574,
 575,
 576,
 577,
 578,
 579,
 580,
 581,
 582,
 583,
 584,
 585,
 586,
 587,
 588,
 589,
 590,
 591,
 592,
 593,
 594,
 595,
 596,
 597,
 598,
 599,
 600,
 601,
 602,
 603,
 604,
 605,
 606,
 607,
 608,
 609,
 610,
 611,
 612,
 613,
 614,
 615,
 616,
 617,
 618,
 619,
 620,
 621,
 622,
 623,
 624,
 625,
 626,
 627,
 628,
 629,
 630,
 631,
 632,
 633,
 634,
 635,
 636,
 637,
 638,
 639,
 640,
 641,
 642,
 643,
 644,
 645,
 646,
 647,
 648,
 649,
 650,
 651,
 652,
 653,
 654,
 655,
 656,
 657,
 658,
 659,
 660,
 661,
 662,
 663,
 664,
 665,
 666,
 667,
 668,
 669,
 670,
 671,
 672,
 673,
 674,
 675,
 676,
 677,
 678,
 679,
 680,
 681,
 682,
 683,
 684,
 685,
 686,
 687,
 688,
 689,
 690,
 691,
 692,
 693,
 694,
 695,
 696,
 697,
 698,
 699,
 700,
 701,
 702,
 703,
 704,
 705,
 706,
 707,
 708,
 709,
 710,
 711,
 712,
 713,
 714,
 715,
 716,
 717,
 718,
 719,
 720,
 721,
 722,
 723,
 724,
 725,
 726,
 727,
 728,
 729,
 730,
 731,
 732,
 733,
 734,
 735,
 736,
 737,
 738,
 739,
 740,
 741,
 742,
 743,
 744,
 745,
 746,
 747,
 748,
 749,
 750,
 751,
 752,
 753,
 754,
 755,
 756,
 757,
 758,
 759,
 760,
 761,
 762,
 763,
 764,
 765,
 766,
 767,
 768,
 769,
 770,
 771,
 772,
 773,
 774,
 775,
 776,
 777,
 778,
 779,
 780,
 781,
 782,
 783,
 784,
 785,
 786,
 787,
 788,
 789,
 790,
 791,
 792,
 793,
 794,
 795,
 796,
 797,
 798,
 799,
 800,
 801,
 802,
 803,
 804,
 805,
 806,
 807,
 808,
 809,
 810,
 811,
 812,
 813,
 814,
 815,
 816,
 817,
 818,
 819,
 820,
 821,
 822,
 823,
 824,
 825,
 826,
 827,
 828,
 829,
 830,
 831,
 832,
 833,
 834,
 835,
 836,
 837,
 838,
 839,
 840,
 841,
 842,
 843,
 844,
 845,
 846,
 847,
 848,
 849,
 850,
 851,
 852,
 853,
 854,
 855,
 856,
 857,
 858,
 859,
 860,
 861,
 862,
 863,
 864,
 865,
 866,
 867,
 868,
 869,
 870,
 871,
 872,
 873,
 874,
 875,
 876,
 877,
 878,
 879,
 880,
 881,
 882,
 883,
 884,
 885,
 886,
 887,
 888,
 889,
 890,
 891,
 892,
 893,
 894,
 895,
 896,
 897,
 898,
 899,
 900,
 901,
 902,
 903,
 904,
 905,
 906,
 907,
 908,
 909,
 910,
 911,
 912,
 913,
 914,
 915,
 916,
 917,
 918,
 919,
 920,
 921,
 922,
 923,
 924,
 925,
 926,
 927,
 928,
 929,
 930,
 931,
 932,
 933,
 934,
 935,
 936,
 937,
 938,
 939,
 940,
 941,
 942,
 943,
 944,
 945,
 946,
 947,
 948,
 949,
 950,
 951,
 952,
 953,
 954,
 955,
 956,
 957,
 958,
 959,
 960,
 961,
 962,
 963,
 964,
 965,
 966,
 967,
 968,
 969,
 970,
 971,
 972,
 973,
 974,
 975,
 976,
 977,
 978,
 979,
 980,
 981,
 982,
 983,
 984,
 985,
 986,
 987,
 988,
 989,
 990,
 991,
 992,
 993,
 994,
 995,
 996,
 997,
 998,
 999,
 ...]

In [9]:
# Create developer dataframe
developer_df = pd.DataFrame({
    'developer_id': developer_id_list,
    'developer': developer_list
})
developer_df

      developer_id                developer
0                0  SIE Santa Monica Studio
1                1              Omega Force
2                2                   Capcom
3                3           Rockstar North
4                4                   Konami
...            ...                      ...
3541          3541                    Tenco
3542          3542                 Gesen 18
3543          3543                   ADELTA
3544          3544           girls dynamics
3545          3545                  A'sRing

[3546 rows x 2 columns]

In [10]:
developer_df.dtypes

developer_id     int64
developer       object
dtype: object

# Create Console dataframe

In [11]:
# Generate list of unique consoles
console_list = transformed_df['console'].unique()
console_list

array(['Series', 'PS3', 'PS4', 'PS2', 'X360', 'PC', 'XOne', 'PS', 'PSP',
       'Wii', 'DS', 'All', '3DS', 'NES', 'GC', 'WiiU', 'XB', 'NS', 'N64',
       'GEN', '2600', 'GBA', 'GB', 'PSV', 'SNES', 'DC', 'SAT', 'XBL',
       'PSN', 'GBC', 'PCE', '3DO', 'NG', 'VC', 'WW', 'SCD', 'Mob', 'GG',
       'Amig', 'WS', 'PCFX', 'OSX'], dtype=object)

In [12]:
# Generate list of consoles ids
console_id_list = list(range(0, len(console_list)))
console_id_list

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41]

In [13]:
# Create console dataframe
console_df = pd.DataFrame({
    'console_id': console_id_list,
    'console': console_list
})
console_df

    console_id console
0            0  Series
1            1     PS3
2            2     PS4
3            3     PS2
4            4    X360
5            5      PC
6            6    XOne
7            7      PS
8            8     PSP
9            9     Wii
10          10      DS
11          11     All
12          12     3DS
13          13     NES
14          14      GC
15          15    WiiU
16          16      XB
17          17      NS
18          18     N64
19          19     GEN
20          20    2600
21          21     GBA
22          22      GB
23          23     PSV
24          24    SNES
25          25      DC
26          26     SAT
27          27     XBL
28          28     PSN
29          29     GBC
30          30     PCE
31          31     3DO
32          32      NG
33          33      VC
34          34      WW
35          35     SCD
36          36     Mob
37          37      GG
38          38    Amig
39          39      WS
40          40    PCFX
41          41     OSX

In [14]:
console_df.dtypes

console_id     int64
console       object
dtype: object

# Create Publisher dataframe

In [15]:
# Generate list of unique publishers
publisher_list = transformed_df['publisher'].unique()
publisher_list

array(['Sony Computer Entertainment', 'KOEI', 'Capcom', ..., 'Digiturbo',
       'MAGES', 'Stack'], dtype=object)

In [16]:
# Generate list of publisher ids
publisher_id_list = list(range(0, len(publisher_list)))
publisher_id_list

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 474,
 475,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 498,
 499,
 500,
 501,
 502,
 503,
 504,
 505,
 506,
 507,
 508,
 509,
 510,
 511,
 512,
 513,
 514,
 515,
 516,
 517,
 518,
 519,
 520,
 521,
 522,
 523,
 524,
 525,
 526,
 527,
 528,
 529,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 540,
 541,
 542,
 543,
 544,
 545,
 546,
 547,
 548,
 549,
 550,
 551,
 552,
 553,
 554,
 555,
 556,
 557,
 558,
 559,
 560,
 561,
 562,
 563,
 564,
 565,
 566,
 567,
 568,
 569,
 570,
 571,
 572,
 573,
 574,
 575,
 576,
 577,
 578,
 579,
 580,
 581,
 582,
 583,
 584,
 585,
 586,
 587,
 588,
 589,
 590,
 591,
 592,
 593,
 594,
 595,
 596,
 597,
 598,
 599,
 600,
 601,
 602,
 603,
 604,
 605,
 606,
 607,
 608,
 609,
 610,
 611,
 612,
 613,
 614,
 615,
 616,
 617,
 618,
 619,
 620,
 621,
 622,
 623,
 624,
 625,
 626,
 627,
 628,
 629,
 630,
 631,
 632,
 633,
 634,
 635,
 636,
 637,
 638,
 639,
 640,
 641,
 642,
 643,
 644,
 645,
 646,
 647,
 648,
 649,
 650,
 651,
 652,
 653,
 654,
 655,
 656,
 657,
 658,
 659,
 660,
 661,
 662,
 663,
 664,
 665,
 666,
 667,
 668,
 669,
 670,
 671,
 672,
 673,
 674,
 675,
 676,
 677,
 678,
 679,
 680,
 681,
 682,
 683,
 684,
 685,
 686,
 687,
 688,
 689,
 690,
 691,
 692,
 693,
 694,
 695,
 696,
 697,
 698,
 699,
 700,
 701,
 702,
 703,
 704,
 705,
 706,
 707,
 708,
 709,
 710,
 711,
 712,
 713,
 714,
 715,
 716,
 717,
 718,
 719,
 720,
 721,
 722,
 723,
 724,
 725,
 726,
 727,
 728,
 729,
 730,
 731,
 732,
 733,
 734,
 735,
 736,
 737,
 738,
 739,
 740,
 741,
 742,
 743,
 744,
 745,
 746,
 747,
 748,
 749,
 750,
 751,
 752,
 753,
 754,
 755,
 756,
 757,
 758,
 759,
 760,
 761,
 762,
 763,
 764,
 765,
 766,
 767,
 768,
 769,
 770,
 771,
 772,
 773,
 774,
 775,
 776,
 777,
 778,
 779,
 780,
 781,
 782,
 783,
 784,
 785,
 786,
 787,
 788,
 789,
 790,
 791,
 792,
 793,
 794,
 795,
 796,
 797,
 798,
 799,
 800,
 801,
 802,
 803,
 804,
 805,
 806,
 807,
 808,
 809,
 810,
 811,
 812,
 813,
 814,
 815,
 816,
 817,
 818,
 819,
 820,
 821,
 822,
 823,
 824,
 825,
 826,
 827,
 828,
 829,
 830,
 831,
 832,
 833,
 834,
 835,
 836,
 837,
 838,
 839,
 840,
 841,
 842,
 843,
 844,
 845,
 846,
 847,
 848,
 849,
 850,
 851,
 852,
 853,
 854,
 855,
 856,
 857,
 858,
 859,
 860,
 861,
 862,
 863,
 864,
 865,
 866,
 867,
 868,
 869,
 870,
 871,
 872,
 873,
 874,
 875,
 876,
 877,
 878,
 879,
 880,
 881,
 882,
 883,
 884,
 885,
 886,
 887,
 888,
 889,
 890,
 891,
 892,
 893,
 894,
 895,
 896,
 897,
 898,
 899,
 900,
 901,
 902,
 903,
 904,
 905,
 906,
 907,
 908,
 909,
 910,
 911,
 912,
 913,
 914,
 915,
 916,
 917,
 918,
 919,
 920,
 921,
 922,
 923,
 924,
 925,
 926,
 927,
 928,
 929,
 930,
 931,
 932,
 933,
 934,
 935,
 936,
 937,
 938,
 939,
 940,
 941,
 942,
 943,
 944,
 945,
 946,
 947,
 948,
 949,
 950,
 951,
 952,
 953,
 954,
 955,
 956,
 957,
 958,
 959,
 960,
 961,
 962,
 963,
 964,
 965,
 966,
 967,
 968,
 969,
 970,
 971,
 972,
 973,
 974,
 975,
 976,
 977,
 978,
 979,
 980,
 981,
 982,
 983,
 984,
 985,
 986,
 987,
 988,
 989,
 990,
 991,
 992,
 993,
 994,
 995,
 996,
 997,
 998,
 999,
 ...]

In [17]:
# Create publisher dataframe
publisher_df = pd.DataFrame({
    'publisher_id': publisher_id_list,
    'publisher': publisher_list
})
publisher_df

      publisher_id                    publisher
0                0  Sony Computer Entertainment
1                1                         KOEI
2                2                       Capcom
3                3                      Unknown
4                4               Rockstar Games
...            ...                          ...
1082          1082                       Giza10
1083          1083                     Wolfgame
1084          1084                    Digiturbo
1085          1085                        MAGES
1086          1086                        Stack

[1087 rows x 2 columns]

In [18]:
publisher_df.dtypes

publisher_id     int64
publisher       object
dtype: object

# Create Games dataframe

In [19]:
# Generate list of game ids
game_id_list = list(range(0, len(transformed_df)))
game_id_list

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 474,
 475,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 498,
 499,
 500,
 501,
 502,
 503,
 504,
 505,
 506,
 507,
 508,
 509,
 510,
 511,
 512,
 513,
 514,
 515,
 516,
 517,
 518,
 519,
 520,
 521,
 522,
 523,
 524,
 525,
 526,
 527,
 528,
 529,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 540,
 541,
 542,
 543,
 544,
 545,
 546,
 547,
 548,
 549,
 550,
 551,
 552,
 553,
 554,
 555,
 556,
 557,
 558,
 559,
 560,
 561,
 562,
 563,
 564,
 565,
 566,
 567,
 568,
 569,
 570,
 571,
 572,
 573,
 574,
 575,
 576,
 577,
 578,
 579,
 580,
 581,
 582,
 583,
 584,
 585,
 586,
 587,
 588,
 589,
 590,
 591,
 592,
 593,
 594,
 595,
 596,
 597,
 598,
 599,
 600,
 601,
 602,
 603,
 604,
 605,
 606,
 607,
 608,
 609,
 610,
 611,
 612,
 613,
 614,
 615,
 616,
 617,
 618,
 619,
 620,
 621,
 622,
 623,
 624,
 625,
 626,
 627,
 628,
 629,
 630,
 631,
 632,
 633,
 634,
 635,
 636,
 637,
 638,
 639,
 640,
 641,
 642,
 643,
 644,
 645,
 646,
 647,
 648,
 649,
 650,
 651,
 652,
 653,
 654,
 655,
 656,
 657,
 658,
 659,
 660,
 661,
 662,
 663,
 664,
 665,
 666,
 667,
 668,
 669,
 670,
 671,
 672,
 673,
 674,
 675,
 676,
 677,
 678,
 679,
 680,
 681,
 682,
 683,
 684,
 685,
 686,
 687,
 688,
 689,
 690,
 691,
 692,
 693,
 694,
 695,
 696,
 697,
 698,
 699,
 700,
 701,
 702,
 703,
 704,
 705,
 706,
 707,
 708,
 709,
 710,
 711,
 712,
 713,
 714,
 715,
 716,
 717,
 718,
 719,
 720,
 721,
 722,
 723,
 724,
 725,
 726,
 727,
 728,
 729,
 730,
 731,
 732,
 733,
 734,
 735,
 736,
 737,
 738,
 739,
 740,
 741,
 742,
 743,
 744,
 745,
 746,
 747,
 748,
 749,
 750,
 751,
 752,
 753,
 754,
 755,
 756,
 757,
 758,
 759,
 760,
 761,
 762,
 763,
 764,
 765,
 766,
 767,
 768,
 769,
 770,
 771,
 772,
 773,
 774,
 775,
 776,
 777,
 778,
 779,
 780,
 781,
 782,
 783,
 784,
 785,
 786,
 787,
 788,
 789,
 790,
 791,
 792,
 793,
 794,
 795,
 796,
 797,
 798,
 799,
 800,
 801,
 802,
 803,
 804,
 805,
 806,
 807,
 808,
 809,
 810,
 811,
 812,
 813,
 814,
 815,
 816,
 817,
 818,
 819,
 820,
 821,
 822,
 823,
 824,
 825,
 826,
 827,
 828,
 829,
 830,
 831,
 832,
 833,
 834,
 835,
 836,
 837,
 838,
 839,
 840,
 841,
 842,
 843,
 844,
 845,
 846,
 847,
 848,
 849,
 850,
 851,
 852,
 853,
 854,
 855,
 856,
 857,
 858,
 859,
 860,
 861,
 862,
 863,
 864,
 865,
 866,
 867,
 868,
 869,
 870,
 871,
 872,
 873,
 874,
 875,
 876,
 877,
 878,
 879,
 880,
 881,
 882,
 883,
 884,
 885,
 886,
 887,
 888,
 889,
 890,
 891,
 892,
 893,
 894,
 895,
 896,
 897,
 898,
 899,
 900,
 901,
 902,
 903,
 904,
 905,
 906,
 907,
 908,
 909,
 910,
 911,
 912,
 913,
 914,
 915,
 916,
 917,
 918,
 919,
 920,
 921,
 922,
 923,
 924,
 925,
 926,
 927,
 928,
 929,
 930,
 931,
 932,
 933,
 934,
 935,
 936,
 937,
 938,
 939,
 940,
 941,
 942,
 943,
 944,
 945,
 946,
 947,
 948,
 949,
 950,
 951,
 952,
 953,
 954,
 955,
 956,
 957,
 958,
 959,
 960,
 961,
 962,
 963,
 964,
 965,
 966,
 967,
 968,
 969,
 970,
 971,
 972,
 973,
 974,
 975,
 976,
 977,
 978,
 979,
 980,
 981,
 982,
 983,
 984,
 985,
 986,
 987,
 988,
 989,
 990,
 991,
 992,
 993,
 994,
 995,
 996,
 997,
 998,
 999,
 ...]

In [20]:
# Generate list of genre ids for games dataframe
genre_id = []
for index, row in transformed_df.iterrows():
    genre_id.append((genre_df.loc[genre_df['genre'] == row[15]]['genre_id']).values[0])
genre_id

[0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 ...]

In [21]:
# Generate list of console ids for game dataframe
console_id = []
for index, row in transformed_df.iterrows():
    console_id.append((console_df.loc[console_df['console'] == row[2]]['console_id']).values[0])
console_id

[0,
 0,
 0,
 0,
 1,
 0,
 2,
 3,
 2,
 3,
 4,
 3,
 5,
 4,
 2,
 1,
 0,
 1,
 6,
 7,
 8,
 1,
 5,
 3,
 0,
 1,
 1,
 4,
 7,
 7,
 1,
 2,
 9,
 1,
 4,
 1,
 5,
 4,
 1,
 8,
 1,
 7,
 1,
 10,
 4,
 7,
 3,
 7,
 3,
 5,
 11,
 3,
 12,
 1,
 3,
 1,
 4,
 5,
 5,
 7,
 2,
 2,
 2,
 0,
 2,
 0,
 2,
 2,
 11,
 0,
 2,
 5,
 11,
 3,
 2,
 6,
 3,
 3,
 4,
 4,
 3,
 4,
 7,
 13,
 7,
 5,
 7,
 3,
 2,
 14,
 3,
 3,
 3,
 8,
 0,
 2,
 3,
 7,
 1,
 4,
 15,
 2,
 16,
 11,
 1,
 17,
 11,
 0,
 3,
 11,
 2,
 1,
 5,
 6,
 9,
 4,
 4,
 5,
 7,
 3,
 2,
 10,
 3,
 18,
 19,
 4,
 5,
 1,
 16,
 1,
 7,
 6,
 5,
 2,
 0,
 1,
 7,
 4,
 3,
 2,
 4,
 6,
 7,
 5,
 1,
 11,
 3,
 1,
 3,
 5,
 13,
 1,
 20,
 3,
 5,
 3,
 8,
 21,
 1,
 10,
 4,
 2,
 3,
 12,
 3,
 1,
 9,
 4,
 7,
 4,
 20,
 2,
 1,
 16,
 2,
 4,
 1,
 9,
 5,
 2,
 10,
 5,
 4,
 12,
 3,
 0,
 9,
 7,
 3,
 6,
 5,
 11,
 3,
 3,
 3,
 21,
 4,
 1,
 5,
 2,
 5,
 7,
 22,
 3,
 4,
 3,
 3,
 21,
 10,
 4,
 21,
 1,
 9,
 23,
 14,
 4,
 12,
 1,
 6,
 9,
 5,
 10,
 7,
 4,
 7,
 5,
 3,
 3,
 5,
 1,
 1,
 1,
 11,
 7,
 1,
 4,
 4,
 24,
 11,
 16,
 6,
 6,
 21,
 1,
 3,
 6,
 4,
 7,
 6,
 3,
 14,
 8,
 19,
 16,
 12,
 3,
 5,
 9,
 13,
 9,
 10,
 16,
 1,
 9,
 12,
 14,
 6,
 4,
 1,
 4,
 7,
 5,
 5,
 5,
 4,
 5,
 3,
 1,
 5,
 7,
 3,
 3,
 3,
 9,
 8,
 3,
 20,
 14,
 3,
 3,
 1,
 16,
 10,
 9,
 1,
 7,
 3,
 2,
 11,
 7,
 16,
 2,
 7,
 16,
 8,
 21,
 8,
 16,
 14,
 2,
 1,
 2,
 1,
 18,
 6,
 16,
 3,
 20,
 13,
 15,
 4,
 6,
 6,
 12,
 7,
 3,
 13,
 25,
 16,
 21,
 7,
 16,
 3,
 2,
 1,
 16,
 4,
 1,
 10,
 11,
 6,
 1,
 1,
 4,
 8,
 3,
 1,
 17,
 17,
 21,
 10,
 3,
 4,
 12,
 2,
 9,
 5,
 4,
 6,
 9,
 5,
 24,
 5,
 1,
 7,
 4,
 2,
 4,
 4,
 5,
 2,
 3,
 17,
 11,
 15,
 12,
 5,
 5,
 5,
 3,
 5,
 3,
 5,
 5,
 10,
 4,
 3,
 4,
 5,
 14,
 1,
 3,
 1,
 11,
 10,
 5,
 2,
 5,
 1,
 1,
 3,
 4,
 3,
 20,
 4,
 21,
 6,
 3,
 4,
 8,
 1,
 10,
 1,
 7,
 1,
 2,
 14,
 12,
 1,
 2,
 10,
 3,
 2,
 4,
 5,
 3,
 9,
 6,
 6,
 5,
 3,
 9,
 7,
 2,
 1,
 2,
 7,
 12,
 1,
 14,
 14,
 1,
 15,
 3,
 5,
 3,
 6,
 21,
 1,
 20,
 1,
 5,
 7,
 2,
 1,
 10,
 9,
 9,
 20,
 2,
 4,
 5,
 9,
 6,
 9,
 4,
 10,
 2,
 1,
 20,
 4,
 20,
 6,
 21,
 8,
 15,
 1,
 3,
 4,
 5,
 9,
 3,
 6,
 1,
 5,
 3,
 1,
 1,
 1,
 10,
 21,
 1,
 11,
 21,
 9,
 21,
 3,
 17,
 1,
 8,
 6,
 9,
 5,
 7,
 16,
 1,
 21,
 3,
 18,
 1,
 5,
 8,
 5,
 16,
 21,
 11,
 1,
 1,
 4,
 3,
 20,
 8,
 3,
 5,
 1,
 4,
 14,
 4,
 21,
 7,
 1,
 16,
 10,
 9,
 1,
 17,
 7,
 5,
 17,
 9,
 20,
 4,
 16,
 11,
 1,
 5,
 20,
 1,
 21,
 8,
 8,
 11,
 20,
 15,
 3,
 2,
 1,
 9,
 3,
 1,
 3,
 8,
 7,
 4,
 8,
 4,
 17,
 11,
 12,
 5,
 20,
 5,
 4,
 4,
 16,
 1,
 1,
 14,
 20,
 4,
 10,
 3,
 8,
 7,
 21,
 8,
 21,
 8,
 3,
 5,
 18,
 4,
 5,
 4,
 20,
 5,
 5,
 7,
 9,
 4,
 12,
 3,
 4,
 4,
 1,
 9,
 3,
 4,
 4,
 9,
 7,
 9,
 2,
 12,
 8,
 2,
 6,
 23,
 21,
 3,
 4,
 1,
 13,
 4,
 3,
 10,
 3,
 7,
 15,
 14,
 1,
 7,
 1,
 18,
 3,
 5,
 3,
 1,
 9,
 3,
 16,
 7,
 3,
 9,
 17,
 26,
 21,
 5,
 5,
 15,
 1,
 3,
 4,
 5,
 10,
 20,
 18,
 9,
 5,
 9,
 5,
 3,
 2,
 4,
 10,
 16,
 16,
 16,
 18,
 10,
 8,
 9,
 3,
 14,
 3,
 8,
 3,
 11,
 12,
 10,
 7,
 3,
 1,
 9,
 1,
 2,
 3,
 1,
 5,
 10,
 12,
 1,
 8,
 10,
 17,
 4,
 9,
 20,
 1,
 2,
 1,
 3,
 1,
 3,
 18,
 5,
 4,
 6,
 10,
 3,
 12,
 10,
 3,
 3,
 12,
 20,
 20,
 1,
 4,
 3,
 21,
 5,
 5,
 3,
 7,
 12,
 5,
 3,
 21,
 6,
 4,
 9,
 2,
 1,
 10,
 21,
 11,
 2,
 6,
 10,
 20,
 1,
 3,
 4,
 7,
 8,
 20,
 9,
 2,
 2,
 10,
 10,
 1,
 21,
 14,
 20,
 6,
 3,
 8,
 10,
 3,
 11,
 20,
 3,
 21,
 1,
 17,
 5,
 14,
 9,
 3,
 12,
 20,
 8,
 15,
 9,
 7,
 11,
 18,
 9,
 20,
 7,
 10,
 3,
 4,
 20,
 4,
 4,
 10,
 3,
 1,
 3,
 4,
 10,
 4,
 3,
 6,
 16,
 2,
 16,
 16,
 4,
 23,
 9,
 9,
 7,
 9,
 1,
 21,
 5,
 4,
 21,
 1,
 21,
 1,
 3,
 3,
 21,
 20,
 10,
 3,
 3,
 1,
 1,
 3,
 1,
 8,
 10,
 5,
 6,
 8,
 2,
 10,
 24,
 7,
 1,
 3,
 3,
 21,
 10,
 9,
 3,
 11,
 3,
 18,
 2,
 3,
 16,
 5,
 5,
 3,
 3,
 5,
 3,
 1,
 8,
 7,
 8,
 26,
 3,
 5,
 18,
 3,
 8,
 4,
 10,
 14,
 3,
 4,
 3,
 4,
 20,
 20,
 4,
 20,
 3,
 21,
 14,
 10,
 10,
 1,
 11,
 11,
 21,
 14,
 21,
 1,
 17,
 10,
 10,
 9,
 10,
 4,
 1,
 3,
 16,
 21,
 9,
 4,
 1,
 20,
 8,
 9,
 18,
 2,
 4,
 3,
 3,
 6,
 5,
 5,
 1,
 4,
 1,
 1,
 20,
 8,
 3,
 4,
 1,
 3,
 21,
 3,
 10,
 5,
 7,
 8,
 21,
 7,
 3,
 16,
 4,
 3,
 10,
 20,
 5,
 15,
 1,
 14,
 8,
 3,
 5,
 3,
 1,
 2,
 17,
 18,
 20,
 2,
 1,
 4,
 5,
 9,
 1,
 2,
 5,
 4,
 3,
 21,
 7,
 21,
 15,
 2,
 16,
 13,
 18,
 18,
 23,
 9,
 17,
 4,
 10,
 12,
 8,
 8,
 20,
 2,
 1,
 7,
 3,
 21,
 5,
 1,
 21,
 5,
 9,
 7,
 9,
 5,
 5,
 5,
 4,
 1,
 10,
 3,
 10,
 5,
 21,
 20,
 20,
 ...]

In [22]:
# Generate list of publisher ids for games dataframe
publisher_id = []
for index, row in transformed_df.iterrows():
    publisher_id.append((publisher_df.loc[publisher_df['publisher'] == row[3]]['publisher_id']).values[0])
publisher_id

[0,
 1,
 2,
 3,
 4,
 5,
 4,
 4,
 6,
 4,
 4,
 4,
 4,
 4,
 6,
 4,
 3,
 0,
 4,
 7,
 4,
 0,
 8,
 5,
 1,
 0,
 4,
 4,
 9,
 5,
 5,
 0,
 10,
 11,
 11,
 12,
 13,
 11,
 2,
 4,
 0,
 2,
 11,
 10,
 12,
 14,
 7,
 15,
 0,
 16,
 3,
 17,
 2,
 15,
 0,
 11,
 11,
 18,
 15,
 19,
 11,
 12,
 11,
 3,
 2,
 2,
 6,
 11,
 3,
 3,
 2,
 20,
 3,
 5,
 11,
 11,
 4,
 0,
 15,
 11,
 15,
 2,
 21,
 22,
 2,
 23,
 4,
 17,
 11,
 22,
 10,
 7,
 17,
 0,
 2,
 23,
 14,
 17,
 2,
 21,
 22,
 24,
 11,
 25,
 0,
 22,
 3,
 26,
 15,
 3,
 6,
 11,
 13,
 27,
 17,
 10,
 21,
 28,
 2,
 10,
 29,
 30,
 11,
 22,
 31,
 10,
 32,
 13,
 4,
 21,
 15,
 11,
 12,
 12,
 3,
 0,
 2,
 16,
 21,
 6,
 23,
 11,
 33,
 34,
 10,
 3,
 2,
 16,
 1,
 15,
 35,
 10,
 36,
 2,
 3,
 21,
 5,
 21,
 13,
 37,
 11,
 23,
 11,
 22,
 2,
 0,
 2,
 21,
 17,
 2,
 14,
 38,
 23,
 4,
 23,
 13,
 0,
 10,
 32,
 38,
 37,
 39,
 2,
 2,
 1,
 3,
 10,
 21,
 0,
 11,
 23,
 3,
 40,
 1,
 4,
 21,
 27,
 13,
 24,
 11,
 41,
 42,
 7,
 4,
 13,
 2,
 1,
 22,
 43,
 16,
 7,
 21,
 10,
 0,
 2,
 13,
 22,
 2,
 23,
 37,
 27,
 37,
 0,
 34,
 17,
 13,
 2,
 44,
 45,
 10,
 24,
 0,
 3,
 44,
 34,
 2,
 10,
 2,
 3,
 11,
 23,
 27,
 21,
 29,
 2,
 11,
 10,
 19,
 23,
 5,
 15,
 10,
 46,
 17,
 22,
 2,
 23,
 37,
 5,
 37,
 17,
 17,
 2,
 22,
 22,
 2,
 11,
 2,
 16,
 47,
 15,
 3,
 2,
 13,
 17,
 3,
 2,
 11,
 48,
 49,
 4,
 5,
 0,
 12,
 11,
 10,
 14,
 2,
 15,
 11,
 17,
 10,
 17,
 43,
 31,
 10,
 50,
 23,
 3,
 2,
 51,
 6,
 2,
 14,
 0,
 21,
 5,
 15,
 17,
 23,
 10,
 23,
 4,
 52,
 27,
 15,
 53,
 17,
 54,
 22,
 55,
 23,
 23,
 10,
 33,
 17,
 2,
 2,
 7,
 15,
 2,
 17,
 17,
 23,
 5,
 11,
 4,
 24,
 10,
 3,
 29,
 51,
 37,
 4,
 10,
 7,
 7,
 22,
 22,
 37,
 10,
 56,
 21,
 23,
 38,
 37,
 3,
 37,
 2,
 12,
 11,
 2,
 15,
 23,
 7,
 11,
 23,
 23,
 12,
 2,
 57,
 2,
 32,
 3,
 22,
 58,
 59,
 3,
 60,
 1,
 23,
 61,
 2,
 62,
 37,
 7,
 4,
 17,
 4,
 10,
 37,
 31,
 12,
 3,
 43,
 3,
 23,
 3,
 17,
 7,
 5,
 23,
 4,
 36,
 31,
 5,
 2,
 5,
 7,
 21,
 63,
 37,
 11,
 42,
 0,
 0,
 21,
 2,
 13,
 64,
 10,
 65,
 23,
 23,
 4,
 1,
 14,
 11,
 38,
 66,
 1,
 15,
 49,
 13,
 63,
 37,
 53,
 23,
 14,
 17,
 21,
 23,
 11,
 43,
 25,
 1,
 24,
 37,
 0,
 67,
 2,
 3,
 2,
 13,
 23,
 30,
 43,
 10,
 68,
 11,
 17,
 69,
 31,
 23,
 10,
 11,
 10,
 13,
 17,
 70,
 11,
 14,
 64,
 21,
 0,
 23,
 2,
 10,
 37,
 11,
 7,
 17,
 27,
 0,
 3,
 17,
 7,
 71,
 17,
 17,
 7,
 37,
 3,
 14,
 10,
 11,
 17,
 2,
 2,
 43,
 23,
 11,
 72,
 15,
 7,
 0,
 21,
 21,
 22,
 1,
 11,
 17,
 3,
 10,
 73,
 3,
 17,
 17,
 24,
 74,
 75,
 5,
 53,
 24,
 11,
 17,
 7,
 17,
 17,
 10,
 31,
 10,
 12,
 37,
 23,
 20,
 76,
 2,
 23,
 17,
 77,
 5,
 21,
 3,
 29,
 2,
 17,
 63,
 78,
 37,
 17,
 3,
 17,
 23,
 7,
 23,
 2,
 79,
 17,
 16,
 2,
 80,
 17,
 10,
 31,
 7,
 23,
 3,
 37,
 3,
 3,
 2,
 17,
 14,
 5,
 63,
 37,
 2,
 3,
 11,
 7,
 1,
 81,
 15,
 14,
 11,
 17,
 43,
 73,
 3,
 5,
 17,
 82,
 17,
 83,
 11,
 15,
 77,
 31,
 11,
 17,
 21,
 11,
 11,
 23,
 37,
 14,
 84,
 11,
 85,
 17,
 17,
 23,
 86,
 15,
 2,
 23,
 23,
 40,
 43,
 31,
 29,
 22,
 37,
 1,
 21,
 2,
 21,
 23,
 17,
 37,
 49,
 11,
 2,
 4,
 11,
 7,
 71,
 11,
 5,
 7,
 15,
 0,
 17,
 29,
 87,
 21,
 3,
 3,
 37,
 63,
 31,
 71,
 11,
 37,
 88,
 53,
 7,
 16,
 4,
 29,
 89,
 23,
 37,
 37,
 11,
 7,
 50,
 17,
 17,
 7,
 21,
 4,
 7,
 4,
 5,
 5,
 3,
 3,
 12,
 14,
 15,
 90,
 85,
 5,
 63,
 91,
 0,
 38,
 31,
 23,
 11,
 63,
 11,
 22,
 7,
 4,
 14,
 13,
 63,
 11,
 56,
 17,
 15,
 21,
 92,
 24,
 23,
 17,
 17,
 31,
 17,
 15,
 17,
 22,
 93,
 14,
 71,
 71,
 14,
 21,
 94,
 48,
 17,
 95,
 22,
 96,
 17,
 17,
 23,
 23,
 17,
 7,
 7,
 80,
 31,
 3,
 97,
 13,
 85,
 17,
 71,
 7,
 17,
 53,
 43,
 17,
 22,
 17,
 13,
 11,
 17,
 17,
 11,
 5,
 14,
 37,
 51,
 15,
 85,
 11,
 3,
 14,
 0,
 21,
 7,
 22,
 98,
 14,
 12,
 91,
 99,
 17,
 63,
 23,
 80,
 17,
 3,
 53,
 37,
 14,
 100,
 17,
 1,
 7,
 75,
 2,
 5,
 17,
 5,
 63,
 89,
 17,
 17,
 17,
 44,
 23,
 7,
 13,
 40,
 10,
 31,
 24,
 37,
 43,
 49,
 22,
 17,
 21,
 3,
 80,
 73,
 10,
 21,
 45,
 100,
 0,
 21,
 17,
 21,
 14,
 89,
 2,
 7,
 17,
 23,
 43,
 43,
 31,
 64,
 37,
 16,
 43,
 44,
 0,
 37,
 21,
 14,
 11,
 21,
 17,
 21,
 3,
 29,
 53,
 38,
 5,
 21,
 3,
 3,
 37,
 53,
 15,
 80,
 11,
 10,
 33,
 12,
 100,
 17,
 3,
 101,
 14,
 17,
 7,
 7,
 53,
 7,
 45,
 17,
 17,
 14,
 83,
 11,
 31,
 1,
 21,
 21,
 5,
 11,
 17,
 3,
 3,
 21,
 53,
 21,
 17,
 23,
 14,
 10,
 11,
 31,
 15,
 7,
 34,
 17,
 21,
 31,
 23,
 31,
 17,
 21,
 21,
 49,
 23,
 10,
 15,
 17,
 38,
 3,
 3,
 80,
 15,
 5,
 24,
 102,
 10,
 21,
 5,
 31,
 12,
 11,
 31,
 23,
 21,
 15,
 31,
 30,
 100,
 31,
 103,
 2,
 17,
 12,
 14,
 3,
 23,
 63,
 17,
 11,
 53,
 23,
 17,
 13,
 63,
 22,
 21,
 104,
 31,
 84,
 15,
 3,
 15,
 5,
 2,
 3,
 11,
 21,
 22,
 100,
 105,
 22,
 31,
 65,
 52,
 5,
 21,
 63,
 11,
 22,
 17,
 106,
 29,
 37,
 37,
 77,
 64,
 2,
 0,
 11,
 17,
 3,
 17,
 21,
 32,
 3,
 21,
 107,
 108,
 109,
 29,
 7,
 15,
 37,
 1,
 15,
 23,
 14,
 17,
 110,
 ...]

In [23]:
# Generate list of developer ids for games dataframe
developer_id = []
for index, row in transformed_df.iterrows():
    if str(row[4]) == 'nan':
        developer_id.append(pd.NA)
    else:
        developer_id.append((developer_df.loc[developer_df['developer'] == row[4]]['developer_id']).values[0])
developer_id

[0,
 1,
 2,
 1,
 3,
 4,
 3,
 3,
 5,
 3,
 3,
 6,
 3,
 3,
 0,
 3,
 7,
 5,
 3,
 8,
 9,
 10,
 7,
 11,
 1,
 5,
 12,
 12,
 13,
 11,
 14,
 15,
 16,
 17,
 17,
 18,
 19,
 17,
 2,
 9,
 5,
 2,
 17,
 16,
 18,
 13,
 20,
 21,
 10,
 22,
 2,
 23,
 2,
 18,
 10,
 17,
 17,
 24,
 25,
 26,
 17,
 18,
 17,
 1,
 2,
 2,
 5,
 27,
 2,
 1,
 2,
 28,
 29,
 30,
 31,
 17,
 9,
 32,
 18,
 17,
 16,
 2,
 33,
 34,
 2,
 22,
 6,
 23,
 27,
 35,
 36,
 37,
 38,
 39,
 2,
 40,
 41,
 42,
 2,
 43,
 44,
 14,
 27,
 45,
 10,
 46,
 47,
 48,
 49,
 2,
 47,
 17,
 49,
 2,
 50,
 51,
 43,
 52,
 2,
 16,
 53,
 54,
 27,
 51,
 55,
 16,
 56,
 19,
 3,
 43,
 21,
 17,
 18,
 22,
 57,
 15,
 58,
 22,
 59,
 5,
 16,
 17,
 6,
 60,
 16,
 2,
 58,
 22,
 1,
 18,
 4,
 51,
 4,
 2,
 61,
 16,
 14,
 62,
 49,
 33,
 17,
 40,
 63,
 64,
 65,
 66,
 58,
 43,
 67,
 2,
 68,
 69,
 16,
 3,
 16,
 19,
 66,
 70,
 71,
 72,
 73,
 74,
 75,
 2,
 1,
 76,
 16,
 77,
 32,
 17,
 25,
 57,
 78,
 1,
 79,
 80,
 81,
 25,
 14,
 17,
 82,
 83,
 84,
 3,
 49,
 2,
 1,
 85,
 86,
 43,
 84,
 43,
 70,
 87,
 58,
 25,
 88,
 2,
 18,
 16,
 89,
 90,
 91,
 60,
 92,
 49,
 2,
 93,
 61,
 51,
 57,
 29,
 1,
 93,
 60,
 94,
 16,
 2,
 95,
 96,
 22,
 97,
 98,
 1,
 75,
 31,
 51,
 99,
 40,
 4,
 16,
 16,
 100,
 23,
 101,
 2,
 18,
 33,
 4,
 33,
 102,
 38,
 94,
 103,
 104,
 2,
 27,
 2,
 43,
 74,
 21,
 105,
 2,
 106,
 107,
 108,
 2,
 109,
 110,
 111,
 3,
 112,
 113,
 16,
 114,
 70,
 68,
 115,
 21,
 96,
 107,
 36,
 92,
 116,
 57,
 51,
 117,
 25,
 2,
 58,
 47,
 47,
 2,
 41,
 39,
 92,
 14,
 49,
 23,
 16,
 16,
 16,
 12,
 118,
 119,
 16,
 120,
 121,
 122,
 64,
 47,
 40,
 16,
 16,
 123,
 124,
 2,
 2,
 37,
 125,
 2,
 23,
 16,
 16,
 126,
 17,
 12,
 15,
 16,
 2,
 53,
 47,
 33,
 127,
 70,
 128,
 129,
 57,
 47,
 130,
 125,
 107,
 131,
 64,
 72,
 73,
 132,
 16,
 2,
 16,
 17,
 2,
 21,
 16,
 133,
 109,
 16,
 16,
 16,
 2,
 134,
 2,
 135,
 1,
 1,
 136,
 137,
 138,
 139,
 1,
 16,
 140,
 141,
 97,
 73,
 142,
 9,
 50,
 3,
 16,
 16,
 143,
 16,
 1,
 144,
 145,
 16,
 123,
 50,
 142,
 146,
 16,
 147,
 148,
 57,
 4,
 2,
 4,
 129,
 149,
 1,
 16,
 17,
 123,
 10,
 10,
 16,
 2,
 19,
 150,
 151,
 123,
 16,
 16,
 152,
 1,
 153,
 17,
 69,
 154,
 1,
 19,
 111,
 106,
 47,
 33,
 155,
 64,
 81,
 23,
 59,
 16,
 63,
 116,
 45,
 1,
 14,
 156,
 157,
 158,
 29,
 159,
 2,
 85,
 16,
 160,
 161,
 70,
 162,
 27,
 107,
 163,
 57,
 16,
 51,
 96,
 70,
 49,
 107,
 164,
 17,
 68,
 150,
 165,
 166,
 16,
 2,
 167,
 33,
 17,
 168,
 38,
 74,
 169,
 170,
 95,
 167,
 171,
 172,
 84,
 84,
 173,
 1,
 174,
 156,
 17,
 23,
 2,
 2,
 123,
 16,
 17,
 175,
 176,
 20,
 39,
 177,
 178,
 179,
 1,
 180,
 92,
 181,
 51,
 182,
 1,
 183,
 184,
 15,
 60,
 185,
 14,
 186,
 57,
 17,
 172,
 37,
 187,
 92,
 51,
 188,
 167,
 16,
 73,
 189,
 28,
 190,
 2,
 16,
 102,
 191,
 126,
 16,
 1,
 1,
 2,
 121,
 192,
 193,
 33,
 194,
 57,
 121,
 16,
 168,
 18,
 2,
 195,
 196,
 22,
 2,
 197,
 198,
 16,
 156,
 167,
 16,
 47,
 64,
 199,
 200,
 94,
 184,
 81,
 11,
 1,
 73,
 201,
 202,
 17,
 168,
 1,
 203,
 21,
 204,
 17,
 92,
 161,
 205,
 206,
 4,
 16,
 207,
 208,
 209,
 17,
 49,
 210,
 188,
 17,
 50,
 211,
 17,
 17,
 40,
 212,
 213,
 214,
 215,
 116,
 67,
 16,
 16,
 216,
 19,
 2,
 16,
 64,
 92,
 161,
 188,
 217,
 35,
 73,
 1,
 218,
 219,
 220,
 16,
 221,
 33,
 111,
 215,
 222,
 223,
 17,
 173,
 29,
 189,
 14,
 128,
 21,
 224,
 50,
 53,
 225,
 77,
 226,
 227,
 33,
 1,
 156,
 29,
 17,
 177,
 148,
 228,
 229,
 43,
 152,
 53,
 107,
 16,
 33,
 230,
 63,
 231,
 232,
 95,
 84,
 168,
 211,
 152,
 20,
 152,
 77,
 11,
 1,
 233,
 16,
 234,
 19,
 67,
 235,
 15,
 1,
 67,
 236,
 69,
 156,
 64,
 27,
 1,
 123,
 1,
 167,
 152,
 68,
 85,
 1,
 17,
 99,
 208,
 49,
 33,
 48,
 57,
 25,
 237,
 238,
 55,
 92,
 19,
 187,
 35,
 239,
 68,
 1,
 171,
 41,
 218,
 240,
 241,
 70,
 151,
 1,
 242,
 125,
 92,
 16,
 189,
 70,
 243,
 167,
 125,
 55,
 1,
 199,
 106,
 244,
 121,
 1,
 128,
 183,
 228,
 203,
 245,
 246,
 208,
 1,
 123,
 156,
 208,
 247,
 248,
 68,
 33,
 249,
 250,
 244,
 123,
 1,
 68,
 251,
 252,
 253,
 1,
 254,
 41,
 255,
 79,
 76,
 68,
 1,
 16,
 107,
 42,
 256,
 257,
 173,
 68,
 258,
 92,
 1,
 229,
 185,
 29,
 259,
 260,
 4,
 47,
 257,
 208,
 92,
 208,
 261,
 16,
 128,
 262,
 263,
 16,
 264,
 14,
 173,
 265,
 111,
 1,
 266,
 156,
 267,
 208,
 268,
 70,
 218,
 156,
 93,
 269,
 77,
 121,
 270,
 153,
 116,
 271,
 123,
 102,
 16,
 86,
 272,
 57,
 273,
 173,
 43,
 86,
 93,
 16,
 274,
 275,
 118,
 51,
 59,
 276,
 70,
 277,
 278,
 123,
 69,
 4,
 279,
 123,
 280,
 173,
 117,
 21,
 123,
 281,
 70,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 194,
 253,
 229,
 289,
 290,
 156,
 23,
 291,
 68,
 209,
 27,
 55,
 1,
 62,
 178,
 4,
 17,
 208,
 1,
 277,
 62,
 292,
 177,
 16,
 16,
 293,
 70,
 189,
 294,
 19,
 229,
 187,
 23,
 92,
 55,
 16,
 295,
 121,
 59,
 59,
 111,
 18,
 70,
 19,
 296,
 72,
 297,
 298,
 208,
 49,
 259,
 14,
 299,
 16,
 79,
 15,
 264,
 300,
 301,
 302,
 64,
 43,
 123,
 295,
 303,
 123,
 95,
 116,
 2,
 304,
 255,
 68,
 305,
 18,
 1,
 23,
 306,
 292,
 40,
 307,
 106,
 1,
 57,
 308,
 309,
 55,
 214,
 19,
 310,
 49,
 311,
 201,
 46,
 281,
 59,
 44,
 258,
 99,
 57,
 55,
 123,
 312,
 313,
 314,
 1,
 17,
 315,
 266,
 316,
 233,
 16,
 230,
 191,
 273,
 317,
 123,
 17,
 130,
 318,
 208,
 319,
 320,
 123,
 77,
 321,
 322,
 47,
 1,
 123,
 49,
 125,
 1,
 49,
 16,
 323,
 121,
 324,
 ...]

In [24]:
transformed_df.columns

Index(['rank', 'game_name', 'console', 'publisher', 'developer',
       'vgchartz_score', 'critic_score', 'user_score', 'total_shipped',
       'global_sales', 'na_sales', 'pal_sales', 'japan_sales', 'other_sales',
       'release_date', 'genre', 'release_year'],
      dtype='object')

In [25]:
games_df = pd.DataFrame({
    'game_id' : game_id_list,
    'rank' : transformed_df['rank'],
    'game_name' : transformed_df['game_name'],
    'release_year' : transformed_df['release_year'],
    'release_date' : transformed_df['release_date'],
    'vgchartz_score' : transformed_df['vgchartz_score'],
    'critic_score' : transformed_df['critic_score'],
    'user_score' : transformed_df['user_score'],
    'genre_id' : genre_id,
    'console_id' : console_id,
    'publisher_id' : publisher_id,
    'developer_id' : developer_id
})
games_df

,game_id,rank,game_name,release_year,release_date,vgchartz_score,critic_score,user_score,genre_id,console_id,publisher_id,developer_id
0,0,1,God of War,2005.0,2005-03-22,NaN,NaN,NaN,0,0,0,0
1,1,2,Warriors,1997.0,1997-06-30,NaN,NaN,NaN,0,0,1,1
2,2,3,Devil May Cry,2001.0,2001-10-16,NaN,NaN,NaN,0,0,2,2
3,3,4,Dynasty Warriors,NaN,NaN,NaN,NaN,NaN,0,0,3,1
4,4,5,Grand Theft Auto V,2013.0,2013-09-17,NaN,9.4,NaN,0,1,4,3
...,...,...,...,...,...,...,...,...,...,...,...,...
22097,22097,232,"Nora, Princess, and Stray Cat",2018.0,2018-10-25,NaN,NaN,NaN,19,17,466,1297
22098,22098,233,Memories Off: Innocent File,2018.0,2018-10-25,NaN,NaN,NaN,19,17,270,823
22099,22099,234,Enkan no Memoria: Kakera Tomoshi,2018.0,2018-03-29,NaN,NaN,NaN,19,23,263,3545
22100,22100,235,Disorder 6,2013.0,2013-08-22,NaN,NaN,NaN,19,4,270,823
22101,22101,236,Zero Escape: Virtue's Last Reward,2012.0,2012-10-23,NaN,NaN,NaN,19,23,193,702

In [26]:
games_df.dtypes

game_id             int64
rank                int64
game_name          object
release_year      float64
release_date       object
vgchartz_score    float64
critic_score      float64
user_score        float64
genre_id            int64
console_id          int64
publisher_id        int64
developer_id       object
dtype: object

In [27]:
games_df["release_year"] = games_df["release_year"].astype("Int64")
games_df["release_date"] = games_df["release_date"].astype('datetime64[ns]')
games_df["developer_id"] = games_df["developer_id"].astype("Int64")

In [28]:
games_df.dtypes

game_id                    int64
rank                       int64
game_name                 object
release_year               Int64
release_date      datetime64[ns]
vgchartz_score           float64
critic_score             float64
user_score               float64
genre_id                   int64
console_id                 int64
publisher_id               int64
developer_id               Int64
dtype: object

In [29]:
games_df

,game_id,rank,game_name,release_year,release_date,vgchartz_score,critic_score,user_score,genre_id,console_id,publisher_id,developer_id
0,0,1,God of War,2005,2005-03-22,NaN,NaN,NaN,0,0,0,0
1,1,2,Warriors,1997,1997-06-30,NaN,NaN,NaN,0,0,1,1
2,2,3,Devil May Cry,2001,2001-10-16,NaN,NaN,NaN,0,0,2,2
3,3,4,Dynasty Warriors,<NA>,NaT,NaN,NaN,NaN,0,0,3,1
4,4,5,Grand Theft Auto V,2013,2013-09-17,NaN,9.4,NaN,0,1,4,3
...,...,...,...,...,...,...,...,...,...,...,...,...
22097,22097,232,"Nora, Princess, and Stray Cat",2018,2018-10-25,NaN,NaN,NaN,19,17,466,1297
22098,22098,233,Memories Off: Innocent File,2018,2018-10-25,NaN,NaN,NaN,19,17,270,823
22099,22099,234,Enkan no Memoria: Kakera Tomoshi,2018,2018-03-29,NaN,NaN,NaN,19,23,263,3545
22100,22100,235,Disorder 6,2013,2013-08-22,NaN,NaN,NaN,19,4,270,823
22101,22101,236,Zero Escape: Virtue's Last Reward,2012,2012-10-23,NaN,NaN,NaN,19,23,193,702

# Create Sales dataframe

In [40]:
sales_df = pd.DataFrame({
    'game_id': game_id_list,
    'na_sales_in_millions': transformed_df['na_sales'],
    'pal_sales_in_millions': transformed_df['pal_sales'],
    'japan_sales_in_millions': transformed_df['japan_sales'],
    'other_sales_in_millions': transformed_df['other_sales'],
    'global_sales_in_millions': transformed_df['global_sales'],
    'total_shipped_in_millions': transformed_df['total_shipped']
})
sales_df

,game_id,na_sales_in_millions,pal_sales_in_millions,japan_sales_in_millions,other_sales_in_millions,global_sales_in_millions,total_shipped_in_millions
0,0,NaN,NaN,NaN,NaN,NaN,51.00
1,1,NaN,NaN,NaN,NaN,NaN,45.26
2,2,NaN,NaN,NaN,NaN,NaN,22.00
3,3,NaN,NaN,NaN,NaN,NaN,21.00
4,4,6.37,9.85,0.99,3.12,20.32,NaN
...,...,...,...,...,...,...,...
22097,22097,NaN,NaN,0.00,NaN,0.00,NaN
22098,22098,NaN,NaN,0.00,NaN,0.00,NaN
22099,22099,NaN,NaN,0.00,NaN,0.00,NaN
22100,22100,NaN,NaN,0.00,NaN,0.00,NaN
22101,22101,NaN,0.00,NaN,0.00,0.00,NaN

In [41]:
sales_df.dtypes

game_id                        int64
na_sales_in_millions         float64
pal_sales_in_millions        float64
japan_sales_in_millions      float64
other_sales_in_millions      float64
global_sales_in_millions     float64
total_shipped_in_millions    float64
dtype: object

# Load Genre Dataframe into PostgreSQL

In [42]:
param_dic = {
    "host"      : "localhost",
    "database"  : db_name,
    "user"      : "postgres",
    "password"  : db_password
}

try:
    connect = "postgresql+psycopg2://%s:%s@%s:5432/%s" % (
        param_dic['user'],
        param_dic['password'],
        param_dic['host'],
        param_dic['database']
    )

    engine = create_engine(connect)
    print("Connection established...")
    
    # Write data from Dataframe into Database Tables
    genre_df.to_sql(
        'genre', 
        con=engine,
        if_exists='append',
        index=False
    )
    print("Inserted data from Genre Dataframe into genre table...")

except:
    print("Error while connecting/writing/reading PostgreSQL")

Connection established...
Inserted data from Genre Dataframe into genre table...

# Load Console Dataframe into PostgreSQL

In [43]:
param_dic = {
    "host"      : "localhost",
    "database"  : db_name,
    "user"      : "postgres",
    "password"  : db_password
}

try:
    connect = "postgresql+psycopg2://%s:%s@%s:5432/%s" % (
        param_dic['user'],
        param_dic['password'],
        param_dic['host'],
        param_dic['database']
    )

    engine = create_engine(connect)
    print("Connection established...")
    
    # Write data from Dataframe into Database Tables
    console_df.to_sql(
        'console', 
        con=engine,
        if_exists='append',
        index=False
    )
    print("Inserted data from Console Dataframe into console table...")

except:
    print("Error while connecting/writing/reading PostgreSQL")

Connection established...
Inserted data from Console Dataframe into console table...

# Load Publisher Dataframe into PostgreSQL

In [44]:
param_dic = {
    "host"      : "localhost",
    "database"  : db_name,
    "user"      : "postgres",
    "password"  : db_password
}

try:
    connect = "postgresql+psycopg2://%s:%s@%s:5432/%s" % (
        param_dic['user'],
        param_dic['password'],
        param_dic['host'],
        param_dic['database']
    )

    engine = create_engine(connect)
    print("Connection established...")
    
    # Write data from Dataframe into Database Tables
    publisher_df.to_sql(
        'publisher', 
        con=engine,
        if_exists='append',
        index=False
    )
    print("Inserted data from publisher Dataframe into publisher table...")

except:
    print("Error while connecting/writing/reading PostgreSQL")

Connection established...
Inserted data from publisher Dataframe into publisher table...

# Load Developer Dataframe into PostreSQL

In [45]:
param_dic = {
    "host"      : "localhost",
    "database"  : db_name,
    "user"      : "postgres",
    "password"  : db_password
}

try:
    connect = "postgresql+psycopg2://%s:%s@%s:5432/%s" % (
        param_dic['user'],
        param_dic['password'],
        param_dic['host'],
        param_dic['database']
    )

    engine = create_engine(connect)
    print("Connection established...")
    
    # Write data from Dataframe into Database Tables
    developer_df.to_sql(
        'developer', 
        con=engine,
        if_exists='append',
        index=False
    )
    print("Inserted data from developer Dataframe into developer table...")

except:
    print("Error while connecting/writing/reading PostgreSQL")

Connection established...
Inserted data from developer Dataframe into developer table...

# Write Games Dataframe Into PostgreSQL

In [46]:
param_dic = {
    "host"      : "localhost",
    "database"  : db_name,
    "user"      : "postgres",
    "password"  : db_password
}

try:
    connect = "postgresql+psycopg2://%s:%s@%s:5432/%s" % (
        param_dic['user'],
        param_dic['password'],
        param_dic['host'],
        param_dic['database']
    )

    engine = create_engine(connect)
    print("Connection established...")
    
    # Write data from Dataframe into Database Tables
    games_df.to_sql(
        'games', 
        con=engine,
        if_exists='append',
        index=False
    )
    print("Inserted data from games Dataframe into games table...")

except:
    print("Error while connecting/writing/reading PostgreSQL")

Connection established...
Inserted data from games Dataframe into games table...

# Write Sales Dataframe into PostgreSQL

In [47]:
param_dic = {
    "host"      : "localhost",
    "database"  : db_name,
    "user"      : "postgres",
    "password"  : db_password
}

try:
    connect = "postgresql+psycopg2://%s:%s@%s:5432/%s" % (
        param_dic['user'],
        param_dic['password'],
        param_dic['host'],
        param_dic['database']
    )

    engine = create_engine(connect)
    print("Connection established...")
    
    # Write data from Dataframe into Database Tables
    sales_df.to_sql(
        'sales', 
        con=engine,
        if_exists='append',
        index=False
    )
    print("Inserted data from sales Dataframe into sales table...")

except:
    print("Error while connecting/writing/reading PostgreSQL")

Connection established...
Inserted data from sales Dataframe into sales table...